html {
  background: black;
}
body {
  background: #4e89ae;
  background: #43658b;
  background: #ed6663;
  background: #ffa372;
  background: #43658b;
  padding: 0;
  margin: 0;
}

header {
  background: #43658b;
  background: black;
  padding: 20px;
  font-size: 50px;
  color: white;
  color: #ffa372;
  font-family: "Rubik", sans-serif;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
}

header i {
  color: #ed6663;
}

footer {
  /* background: #43658b; */
  background: black;
  height: 100px;
  /* -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3); */
}

.refactorings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.refactoring-card {
  width: 600px;
  border-radius: 5px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  background: black;
}

.refactoring-card i {
  margin-right: 5px;
}

.refactoring__title {
  margin: 0;
  padding: 15px 10px;
  color: #ffa372;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  /* backgrou blackack; */
}

.refactoring__info {
  margin: 0;
  padding: 5px 10px;
  color: #ed6663;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
}

.refactoring {
  width: 100%;
  height: 600px;
  border-radius: 5px 0px 0px 5px;
  border: 0;
}
