html,
body {
  background: #1d1f21;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.header {
  background: #111111;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
}

.header .title {
  display: flex;
  flex-direction: row;
}

.header .responsive {
  display: none;
}

.header h1 {
  padding: 10px 10px;
  background: rgba(255, 163, 114, 0.4);
  margin: 0;
  height: 20px;
  line-height: 20px;
}

.header h1 a {
  color: rgb(255, 213, 190);
  font-family: Helvetica, Arial;
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  display: block;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .title:hover h1 {
  background: rgba(255, 163, 114, 0.541);
}

.header .title:hover::before {
  border-right: 10px solid rgba(255, 163, 114, 0.541);
}

.header .title:hover::after {
  border-left: 10px solid rgba(255, 163, 114, 0.541);
}

.header .title::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid rgba(255, 163, 114, 0.4);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.header .title::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid rgba(255, 163, 114, 0.4);
  border-right: 10px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.header .left {
  display: flex;
}

.header nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.header nav ul li {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header nav ul li a {
  color: rgb(112, 112, 112);
  font-family: Helvetica, Arial;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
}

.header nav ul li a:hover {
  color: rgb(214, 214, 214);
  font-family: Helvetica, Arial;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
}

.cursor {
  border: 1px solid white;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker-light {
  50% {
    opacity: 0.5;
  }
}

.main-content-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  overflow: scroll;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  overflow: scroll;
}
.code-container {
  font-size: 12px;
  flex-shrink: 1;
  align-items: stretch;
  overflow-x: scroll;
  width: 50%;
}
.inner-container {
  display: flex;
  flex-direction: row;
}
.lines {
  padding-top: 6px;
  padding-right: 4px;
  display: block;
  font-family: Menlo, Monaco, "Courier New", monospace;
  color: #787878;
  overflow: auto;
  height: auto;
  flex-shrink: 0;
  min-width: 20px;
}
#codepled {
  font-size: 12px;
  display: block;
  white-space: pre;
  padding-left: 0px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  flex-grow: 1;
  overflow: scroll;
  height: auto;
}
.play {
  display: block;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  margin-left: 5px;
  line-height: 25px;
  height: 30px;
  width: 30px;
  text-align: center;
  background: none;
  border: none;
  padding: 0;
}
.play:focus {
  border: 2px solid white;
  outline: none;
}
.play:hover {
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  height: 5px; /* Specified height */
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  width: 100%;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: rgb(255, 163, 114); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider-container {
  background-color: #111111;
  height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
}
.textbox-container {
  background: #1d1f21;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);

  position: relative;
  z-index: 0;
  flex-shrink: 1;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 50%;
}
.textbox__content {
  white-space: pre-wrap;
  overflow-y: scroll;
  max-height: 100%;
  width: 100%;
}
.sliderbox {
  height: 25px;
  flex-grow: 300;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
}

.play:focus .speedmeter {
  margin-left: 13px;
}
.speedmeter {
  background: #ffa372;
  color: black;
  position: absolute;
  border-radius: 10px;
  font-size: 9px;
  width: 13px;
  height: 13px;
  line-height: 13px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  margin-left: 15px;
  text-align: center;
  font-weight: bold;
  display: block;
}
.container {
  background: #1d1f21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  position: absolute;
  min-height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.button {
  background: none;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.slider-container.disabled .play {
  cursor: not-allowed;
  color: gray;
}
.slider-container.disabled input {
  cursor: not-allowed;
  background: gray;
}

.section {
  color: #474747;
  filter: blur(0.7px);
  padding: 50px;
}

.section:hover {
  filter: none;
  background: #2b2e31;
  color: #cacaca;
  cursor: pointer;
}

.section.active:hover {
  background: none;
  cursor: auto;
}

.section.active {
  filter: none;
  color: #cacaca;
  -webkit-animation: fadein 1.375s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.375s; /* Firefox < 16 */
  -ms-animation: fadein 1.375s; /* Internet Explorer */
  -o-animation: fadein 1.375s; /* Opera < 12.1 */
  animation: fadein 1.375s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toc-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.table-of-contents {
  position: relative;
  z-index: 1;
  background: #1d1f21;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}

.toc__content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-y: scroll;
}

.toc__title {
  background: #111111;
  color: rgb(151, 151, 151);
  padding: 10px;
  font-family: Helvetica, Arial;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  flex-grow: 0;
}

.table-of-contents .bookmark button {
  color: rgb(180, 180, 180);
  padding: 10px;
  font-family: Helvetica, Arial;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.table-of-contents .bookmark button:hover {
  color: rgb(224, 224, 224);
  background-color: #3a3a3a;
}

.table-of-contents .bookmark button:focus {
  border: none;
  outline: none;
  color: rgb(224, 224, 224);
  background-color: #3a3a3a;
}

.table-of-contents .bookmark__title {
  margin-left: 10px;
  text-align: left;
}

.toc__bookmarks {
  width: 200px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.toc__close {
  background: #16181a;
  color: rgb(161, 161, 161);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 10px;
  padding: 0px 3px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.toc__open {
  background: #16181a;
  color: rgb(161, 161, 161);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 10px;
  font-size: 20px;
  padding: 0px 3px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  height: 100%;

  -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.toc__open--small:before {
  display: none;
}

.toc__close:hover,
.toc__open:hover {
  background: #212427;
}

.table-of-contents .bookmark.active button {
  background: rgba(255, 163, 114, 0.4);
  color: rgb(255, 213, 190);
}

.logo {
  align-self: center;
  height: 35px;
  margin-left: 10px;
}

.logo img {
  height: 35px;
}

.lines .line {
  padding-left: 10px;
  display: inline-block;
  width: 100%;
}

.lines .line.highlighted {
  background: #33392f;
}

.next-button {
  position: absolute;
  display: block;
  width: 300px;
  height: 50px;
  background: white;
  border: none;
  bottom: 60px;
  z-index: 3;
  left: 10px;
  /* right: 0; */
  margin: auto;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  animation: blinker-light 2s linear infinite;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0i.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
}

.next-button:hover {
  animation: none;
}

.next-button:focus {
  outline: none;
}

.next-button .small {
  display: block;
  font-family: Helvetica, Arial;
  font-size: 10px;
}

.text-content {
  z-index: 0;
  position: relative;
  background: #1d1f21;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(173, 173, 173);
  font-family: Helvetica, Arial;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 30px;
}

.text-content a {
  color: rgb(255, 213, 190);
}

.play.fullscreen {
  margin-left: -10px;
  margin-right: 5px;
  font-size: 20px;

  cursor: pointer;
  height: 40px;
  width: 40px;
}

.container {
  height: 100vh;
}

header nav ul li a.patreon-button {
  color: white;
}

.section strong {
  color: white;
}

.section blockquote {
  border-left: 3px solid white;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-style: italic;
  font-size: 15px;
}

.section h1 {
  margin-top: 0px;
  line-height: 1.5em;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5 {
  color: white;
}

.header .header__row.responsive {
  min-height: 30px;
  margin-top: 10px;
}

.header .responsive .title h1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header .responsive .title::before {
  border-top-width: 15px;
  border-bottom-width: 15px;
}

.header .responsive .title::after {
  border-top-width: 15px;
  border-bottom-width: 15px;
}

@media only screen and (max-width: 800px), (orientation: portrait) {
  .content {
    height: 100%;
  }

  .main-content-container {
    flex-direction: column;
  }

  .textbox-container {
    width: 100%;
    flex-shrink: 0;
    height: 50%;
    overflow-y: scroll;
  }

  .code-container {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    height: 50%;
    overflow-y: scroll;
  }

  .table-of-contents {
    position: absolute;
  }

  .toc__bookmarks {
    width: 300px;
  }

  .toc__open,
  .toc__close {
    width: 30px;
  }

  .toc__open i::before {
    display: none;
  }
  .toc__open .toc__open--small::before {
    display: block;
  }

  .header__row .title {
    display: none;
  }

  .header__row .title h1 {
    width: 100%;
    flex-grow: 1;
  }

  .next-button {
    right: 0;
  }

  .header__row.responsive .title,
  .header__row.responsive {
    justify-content: center;
    display: flex;
  }
}
